
header {
        width:inherit;
        @include clr;
        text-align:center;
        padding-top:40px;

        #header-image  {
                        @include backgroundImage($bgheader-img,false, no-repeat, center, contain);
                        @include dim(auto, 100%);
                        padding-top: 70%;
                        margin-bottom: 50px;

                        @include break($size-medium){
                                margin-bottom:100px;
                                } 
                                @include break($size-small){
                                margin-bottom:80px;
                                } 
                }

        h1 {
                color:$red;
                font-weight:100;
                font-size:4rem;
                line-height:0;
                        
                @include break($size-large){
                font-size:3em;
                }
                @include break($size-medium){
                        font-size:2em;
                } 
         }
        h2 {
                color:$white;
                font-weight:900;
                font-size:2.5em;
                line-height:0;
                padding-top: 10px;
                margin-bottom:70px;

                @include break($size-large){
                        font-size:2.0em;
                }
                @include break($size-medium){
                        font-size:1.5em;
                } 
                @include break($size-small){
                        font-size:1.4em;
                } 

        }
        h3 {
                color:$grey;
                font-weight:400;
                font-size:2em;
                line-height:0;
                margin-bottom:50px;

                @include break($size-large){
                        font-size:2.0em;
                }
                @include break($size-medium){
                        font-size:1.5em;
                } 
                @include break($size-small){
                        font-size:1.4em;
                } 
        }     
               
}

/* FOOTER */
.greybar {
        background-color: $bar_color_footer;
        @include dim(90px, 100%);
        @include clr;
        padding-top: 30px;
        
        @include break($size-small){
            display:none;
        } 
    
    }
    footer {    
        background:$bgcolor-footer;
        @include dim(120px, 100%);
        text-align:center;
        color: $white;
        padding-top:50px;

        @include break($size-small){
            text-align:center;
        } 
        
        p{
            @include break($size-small){
                @include setFloat(none);
                margin:0;
            } 
        }
        img {        
            @include break($size-small){
                @include setFloat(none);
                margin:0;
            } 
        }
    }
    
    .social-media {
            @include dim(auto, 165px);
            @include boundaries(0 auto, false);
    
            %div {
                @include setFloat(left);
                margin-right:5px;
            }
            a {
                display:block;
                @include dim(36px, 36px);
                text-indent:-9999px;
            }
            .one {@extend %div; background:$social_media 0 0;}
            .two {@extend %div; background:$social_media (0 - 38px) 0;}
            .three {@extend %div; background:$social_media (0 - (38px * 2)) 0;}
            .four {@extend %div; background:$social_media (0 - (38px * 3)) 0;}
        }
    