@mixin dim($h, $w){
    height:$h; 
    width:$w;
}

@mixin setFloat($float){
    float: $float;   
}

@mixin clearfix {
      clear: both;
    
  }
  
@mixin backgroundImage($image: false, $backColor: false, $repeat: false, $position: false, $size: false, $height: false, $width: false)
{
    @if $image {background: $image};
    @if $backColor {background-color: $backColor};
    @if $repeat {background-repeat: $repeat};
    @if $position {background-position: $position};
    @if $size {background-size: $size};
    @if $height {height: $height};
    @if $width {width: $width};

}

@mixin navigate($float: left, $width: 540px, $height: 190px, $color: $red)
{
    float:$float;
    text-align:right;
    width: $width;
    height: $height;

	ul {
        list-style-type:none;
        margin-top:95px;


        @include break($size-large){
            margin-top:0;
        }
		li {
            display:inline;
            font-size:0.8em;
            margin-right:10px;

        
            @include break($size-large){
                font-size:1em;margin:0 10px;
            }
            @include break($size-medium){
                font-size:0.8em;margin:0 5px;
            }

			a{
                color: $color;
                text-decoration:none;
                letter-spacing:-0.01em;
			}
		}
	}
}

@mixin break($arg)
{
    @media screen and (max-width: $arg)
    {
        @content;
    }
}

@mixin boundaries($margin: false, $padding:false){

    @if $margin {margin:$margin}; 
    @if $padding {padding:$padding};

}