
$font: 'Roboto', sans-serif;
$white: #FFF;
$red: #E65C43;
$grey: #666;
$bgcolor: #F25C43;
$bar_color_footer: #F5F6F6;
$bgcolor-footer: #30353D;
$social_media: url('../images/social-media.png');
$prospect_img: url('../images/vprospect.png');
$content_img: url('../images/vconvert.png');
$logo-img: url('../images/logo.png');
$bgheader-img: url('../images/devices.png');
$backgroundimg: url('../images/bg.gif');

$size-large: 959px;
$size-medium: 767px;
$size-small: 459px;